doctype html
html(lang='en-us')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')

    link(href='index.css' rel='stylesheet')

    title Buckle Up

  body
    h1 buckle-up
    p A front-end component management system.
