// In the gulp file find the parent folders and prepend it before these imports.
@import 'styles/style1';
@import 'styles/style2';

button {
  background-color: red; // Button
}

button {
  background-color: green; // Carousel
}

button {
  background-color: blue; // Dropdown
}
